<script setup lang="ts">

import LayoutComponent from "@/LayoutComponent.vue";
import { computed, ref } from "vue";
import axios from "axios";

const email = ref<string>();
const password = ref<string>();

const disabled = computed(() => !email.value || !password.value)
const login = () => {
    axios.post("/login", { email: email.value, password: password.value }).then(({ data }) => {
        location.href = "/users-view";
        console.log('login', data);
    });
}
</script>

<template>
    <LayoutComponent>
        <h2>Login</h2>
        <form>
            <div class="mb-3">
                <label for="email" class="col-form-label">Email</label>
                <input v-model="email" type="email" class="form-control" id="email">
            </div>
            <div class="mb-3">
                <label for="password" class="col-form-label">Password</label>
                <input v-model="password" type="password" class="form-control" id="user-email">
            </div>
            <button class="btn btn-primary" :disabled="disabled" type="button" @click="login">Login</button>
        </form>
    </LayoutComponent>
</template>

<style scoped>
form {
    width: 400px;
}
</style>
