<script setup lang="ts">
import { onBeforeMount, onMounted, reactive, Ref, ref } from "vue";
import LayoutComponent from "@/LayoutComponent.vue";
import axios from "axios";
import {Modal} from 'bootstrap';

export interface User {
    id: number;
    name: string;
    email: string;
}

interface Page {
    label: string;
    active: boolean;
}

const users = ref<Array<User>>([]);
const pages = ref<Array<Page>>([]);
const page = ref<number>(1);
const userToEdit = ref<User>();
const userToDelete = ref<User>();
let userEditModal: Modal;
let userDeleteModal: Modal;
const showUserUpdatedAlert = ref<boolean>(false);

onBeforeMount(() => {
    axios.get('/users', { params: { page: page.value } })
    .then(({ data }) => {
        users.value = data.data;
        pages.value = data.meta.links;
    });
})

onMounted(() => {
    userEditModal = new Modal(document.getElementById('userEditModal'));
    userDeleteModal = new Modal(document.getElementById('userDeleteModal'));
});

const handlePaginate = (pageVal: string) => {
    page.value = +pageVal;
    axios.get('/users', { params: { page: pageVal } })
        .then(({ data }) => {
            users.value = data.data;
            pages.value = data.meta.links;
        });
}

const handlePreviousPage = () => {
    if (page.value > 0) {
        page.value--;
    }
    axios.get('/users', { params: { page: page.value } })
        .then(({ data }) => {
            users.value = data.data;
            pages.value = data.meta.links;
        });
}

const handleNextPage = () => {
    if (page.value < pages.value.length - 1) {
        page.value++;
    }
    axios.get('/users', { params: { page: page.value } })
        .then(({ data }) => {
            users.value = data.data;
            pages.value = data.meta.links;
        });
}

const showUserEditModal = (user: User) => {
    userToEdit.value = user;
    userEditModal.show();
}

const handleUserEdit = () => {
    axios.put(`/users/${userToEdit.value.id}?page=${page.value}`, userToEdit.value)
    .then(({ data }) => {
        users.value = data.data;
        pages.value = data.meta.links;
        showUserUpdatedAlert.value = true;
        setTimeout(() => {
            userEditModal.hide();
            showUserUpdatedAlert.value = false;
        }, 3000)

    });
}

const showUserDeleteModal = (user: User) => {
    userToDelete.value = user;
    userDeleteModal.show();
}

const handleUserDelete = () => {
    axios.delete(`/users/${userToDelete.value.id}?page=${page.value}`)
    .then(({ data }) => {
        users.value = data.data;
        pages.value = data.meta.links;
        userDeleteModal.hide();
    });
}
</script>

<template>
    <LayoutComponent>
        <h2>Users</h2>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="user in users" :key="user.id">
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <button @click="showUserEditModal(user)" class="btn btn-primary small me-2">Edit</button>
                    <button @click="showUserDeleteModal(user)" v-if="user.name !== 'admin'" class="btn btn-danger small">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
        <nav class="mt-2">
            <ul class="pagination justify-content-center">
                <li class="page-item" v-for="(page, i) in pages">
                    <template v-if="i === 0">
                        <a href="#" @click="handlePreviousPage()" class="page-link" v-html="page.label">
                        </a>
                    </template>
                    <template v-else-if="i === pages.length - 1">
                        <a href="#" @click="handleNextPage()" class="page-link" v-html="page.label">
                        </a>
                    </template>
                    <a v-else href="#" @click="handlePaginate(page.label)"
                       :class='{"page-link": true, active: page.active}'>
                        {{ page.label }}
                    </a>
                </li>
            </ul>
        </nav>
        <div class="modal fade" id="userEditModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Updating user</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div v-if="userToEdit" class="modal-body">
                        <div v-if="showUserUpdatedAlert" class="alert alert-primary" role="alert">
                            User was updated.
                        </div>
                        <form>
                            <div class="mb-3">
                                <label for="user-name" class="col-form-label">Name</label>
                                <input v-model="userToEdit.name" type="text" class="form-control" id="user-name">
                            </div>
                            <div class="mb-3">
                                <label for="user-email" class="col-form-label">Email</label>
                                <input v-model="userToEdit.email" type="email" class="form-control" id="user-email">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button @click="handleUserEdit" type="button" class="btn btn-primary">User edit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="userDeleteModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Deleting user</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div v-if="userToDelete" class="modal-body">
                        Are you sure to delete user <strong>{{ userToDelete.name }}</strong>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button @click="handleUserDelete" type="button" class="btn btn-primary">Delete user</button>
                    </div>
                </div>
            </div>
        </div>
    </LayoutComponent>
</template>

<style scoped>

</style>
